<!DOCTYPE html>
<html>
<head>
  <title>Havehomework</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= flash[:notice] if flash[:notice] %>
<%= 'Welcome ' + current_user.email if current_user %>
<%= current_user ? link_to('Sign Out', destroy_user_session_url, :method => :delete) : link_to('Sign In', new_user_session_url) + ' ' + link_to('Register', new_user_registration_url) %>
<br><br>
<%= yield %>

</body>
</html>
